<h1>Employees#index</h1>
<p>Find me in app/views/employees/index.html.erb</p>
<!DOCTYPE html>
<html>
<head>
  <title>Listado de Empleados</title>
</head>
<body>
  <h1>Listado de Empleados</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Apellido</th>
      <th>Nombre</th>
      <th>Título</th>
      <th>Cortesía</th>
      <th>Fecha de Nacimiento</th>
      <th>Fecha de Contratación</th>
      <th>Dirección</th>
      <th>Ciudad</th>
      <th>Región</th>
      <th>Código Postal</th>
      <th>País</th>
      <th>Teléfono</th>
      <th>Extensión</th>
      <th>Foto</th>
      <th>Notas</th>
      <th>Reporta a</th>
      <th>Ruta de Foto</th>
    </tr>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee['employee_id'] %></td>
        <td><%= employee['last_name'] %></td>
        <td><%= employee['first_name'] %></td>
        <td><%= employee['title'] %></td>
        <td><%= employee['title_of_courtesy'] %></td>
        <td><%= employee['birth_date'] %></td>
        <td><%= employee['hire_date'] %></td>
        <td><%= employee['address'] %></td>
        <td><%= employee['city'] %></td>
        <td><%= employee['region'] %></td>
        <td><%= employee['postal_code'] %></td>
        <td><%= employee['country'] %></td>
        <td><%= employee['home_phone'] %></td>
        <td><%= employee['extension'] %></td>
        <td><%= employee['photo'] %></td>
        <td><%= employee['notes'] %></td>
        <td><%= employee['reports_to'] %></td>
        <td><%= employee['photo_path'] %></td>
      </tr>
    <% end %>
  </table>
</body>
</html>

