<h1>Nuevo Empleado</h1>
<%= render 'form' %>
<%= link_to 'Volver', empleados_path %>


<%= form_with(model: @empleado, local: true) do |form| %>
    <% if @empleado.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@empleado.errors.count, 'error') %> ocurrió mientras se procesaba el formulario:</h2>
        <ul>
          <% @empleado.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= form.label :name, 'Nombre' %>
      <%= form.text_field :name, autofocus: true %>
    </div>
    <div class="field">
      <%= form.label :phone, 'Teléfono' %>
      <%= form.text_field :phone %>
    </div>
    <div class="field">
      <%= form.label :dept_id, 'Departamento' %>
      <%= form.collection_select :dept_id, Departamento.all, :id_dept, :name_dept %>
    </div>
    <div class="field">
      <%= form.label :direccion, 'Dirección' %>
      <%= form.text_area :direccion %>
    </div>
    <div class="field">
      <%= form.label :isactive, 'Activo' %>
      <%= form.check_box :isactive %>
    </div>
    <div class="actions">
      <%= form.submit 'Guardar' %>
    </div>
  <% end %>
  